.main .h1{
    position: sticky; 
    text-align: center;
}
.pic img
{
    border-radius: 50%;
    text-align: right;
}
.disp
{
    margin-top: 5px;
}
h2{
    color: rgb(255, 0, 255);
    background-color: aquamarine;
}
p{
    color: blue;
    background-color: antiquewhite;
}
#hi{
    text-decoration: wavy;
    background-color: yellowgreen;
}
button{
    color: red;
    background-color: black;
}
